<h1>TODO:</h1>
<ul>
	<li>dat text na about page <span class="badge">required</span></li>
	<li>page "moje rezervace" kde budou i past rezervace</li>
	<li>stats spage, kdo si pujcuje hry nejvic (?) a jake hry jsou nejoblibenejsi</li>
	<li>na vote page zobrazit, kolik % ze vsech votes hra ma</li>
	<li>na vote page zobrazit bar nebo pie chart</li>
	<li>chci hrat button</li>
</ul>
