@import "nette.less";
@import "footer.less";

.cover {
	max-width: 200px;
	max-height: 200px;

	&.small {
		max-width: 32px;
		max-height: 32px;
		position: absolute;
		margin-top: -6px;
		margin-left: 12px;
	}
}

tr {
	.hover-opacity {
		opacity: .4;
	}
	&:hover .hover-opacity {
		opacity: 1;
	}
}

.game-meta {
	.thumbnail {
		margin-bottom: 20px;
	}
}

.game-files {
	margin-top: 20px;
	a {
		padding: 5px 15px;
	}
}

.game {
	.reservations {
		margin: 20px 0 30px 0;
	}
}

table + h3 {
	margin-top: 50px;
}

.navbar-default .navbar-nav>li>a.navbar-btn {
	padding: 6px 8px 5px 8px;
	margin-right: 15px;
}

.navbar-default .navbar-nav>li>a.btn-primary {
	color: #fff;
	&:hover {
		color: #285e8e;
	}
}

.navbar-pushed {
	margin-top: 32px;
}

.column-cover {
	width: 48px;
}

.datepicker {
	table thead tr th:hover,
	table tbody tr td.old:hover {
		cursor: default;
		background-color: inherit !important;
	}
	table tr td.disabled,
	table tr td.disabled:hover {
		color: #b94a48;
		background-color: lighten(#b94a48, 40%);
	}
	table tr td.highlit,
	table tr td.highlit:hover {
		font-weight: bold;
		color: #468847;
		background-color: lighten(#468847, 40%);
	}
}

.modal {
	&.narrow .modal-content {
		width: 400px;
		.modal-body {
			text-align: center;
		}
		.datepicker table {
			margin: auto;
		}
	}
}

.reservation-box {
	float: left;
	padding-bottom: 4ex;
}
